@import "@/assets/scss/font.scss";
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/reset.scss";

body {
  font-family: "Pretendard";
  font-size: 1.5rem;
  color:#111;
}
