// mixins.scss

@mixin large-text { /* 선언 */
    font: {
        size: 22px;
        weight: bold;
        family: sans-serif;
    }
}

h1 {
    @include large-text; /* 사용 */
}


@mixin mobile {
    @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}
  
@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}