@charset "UTF-8";

/* ==============================
* 레이아웃 공통 설정
* ============================== */
*, *:before, *:after {box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
*:focus {outline-style:none;}

html {position:relative; width:100%; font-size:62.5%; /*1em = 10px로 설정*/ line-height:1.5; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
html, body {overflow-x:hidden;}
html, body, article, aside, details, figcaption, figure, header, hgroup, menu, div, nav, section, header, table, tbody, tfoot, thead, tr, th, td, article, aside, audio, video ,textarea {margin:0; padding:0; border:0; outline:0; line-height:1.5; background:transparent; text-rendering:optimizeLegibility; -webkit-font-smoothing:antialiased;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {border:0; vertical-align:baseline;}
header, section, article, footer, aside, nav, main, figure {display:block;}
ul,ol,li,dl,dt,dd, i {margin:0; padding:0; list-style:none;}
p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a {color:inherit; font-size:inherit; line-height:inherit; text-decoration:none;}
a:hover,a:focus,a:active {color:inherit; text-decoration:none;}
table {border-collapse:collapse; border-spacing:0;}
caption,legend {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
select, input, textarea{color:#454545;}
select, input {vertical-align:middle;}
address,em,i{font-style:normal;}
label {cursor:pointer; margin:0; padding:0;}
hr {margin:0;border:none;padding:0;display:block;}
form, figure, figcaption {padding:0;margin:0;}
figure {font-size:0;}
fieldset {border:none;padding:0;margin:0;}
a:focus {border:0; outline:0;}
:focus {outline:none;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;}
/* 기본 */
img {width:100%;}
/* 공통 사용*/
i {font-style:normal !important;}
input[type=button],input[type=email],input[type=password],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=url],textarea,select{appearance:none; -webkit-appearance:none; -moz-appearance:none; border-radius:0; border:0;}
input[type=text],input[type=url],input[type=email],input[type=password],input[type=reset],input[type=search],input[type=tel],input[type=date] {background-color:transparent;}
input[type=date] {background:transparent;}
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder {}
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
a:focus,
label:focus,
input[type="checkbox"]:focus+label,
input[type="radio"]:focus+label {outline-style:none;}
input[disabled]::placeholder,
input[disabled]::-webkit-input-placeholder,
input[disabled]::-moz-placeholder,
input[disabled]::-ms-input-placeholder,
input[type=button]::placeholder {/*color:#666;font-size:16px;*/}
input[type=checkbox],input[type=radio] {position:absolute; width:0; height:0; margin:0; padding:0; opacity:0; border:0;}
button {overflow:visible; cursor:pointer; vertical-align:middle; margin:0; padding:0; border:0; background:none;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;margin:0;}
::selection {background:#d6e1fb;}
::-moz-selection {background:#d6e1fb;}
button:hover,
button:focus{border:0;outline:0;}
caption, legend, .sr_only, .hidden, .blind, .IR {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0 none; clip:rect(0, 0, 0, 0);}
select {cursor:pointer; -webkit-appearance:none;-moz-appearance:none; appearance:none;}
select::-ms-expand {/* for IE 11 */display:none;}

/* Skip Navigation */
#skip_nav, .blind {clip:rect(0,0,0,0);position:absolute;overflow:hidden;width:1px;height:1px;margin:-1px;padding:0;white-space:nowrap;border:0;}
#skip_nav a{display:block;height:0;margin-top:-2px;overflow:hidden;text-align:center;font-size:0;line-height:0;background:#3e8fee}
#skip_nav a:hover,#skipNav a:active,#skipNav a:focus{height:auto;padding:7px 0;font-weight:bold;font-size:1rem;line-height:1rem;color:#fff;z-index:10000}

.blind {position:absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin:-1px;}
.flex {display:flex; align-items:center;}

#wrap {padding:40px 20px;}