.menu {
  display: flex;
  justify-content: center;

  .menu--item {
    position: relative;
    margin: 0 14px 0 0;
    width: 54px;

    &:last-child {
      margin: 0px;
    }
    a {
      width: 100%;

      .items {
        padding: 10px;
        width: 54px;
        height: 54px;
        border-radius: 20px;
        border: 1px solid #ebebeb;
        box-sizing: border-box;

        &:hover {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        }
      }

      .txt {
        display: inline-block;
        margin: 6px auto 0;
        width: 100%;
        text-align: center;
        font-size:1.4rem;
      }
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      width: 54px;
      height: 54px;
      border-radius: 20px;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      z-index: 101;

      &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        background:#fafbfd;
      }

      &.active {
        background:url('@/assets/images/common/close.svg') no-repeat center center;
        background-size:18px;
      }

      &.active:hover {
        background:url('@/assets/images/common/close.svg') no-repeat center center #fafbfd;
        background-size:18px;
      }
    }

    .etcwrap {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -80px;
      left: 0;
    }

    button.active + .etcwrap {
      display: inline-block;
      z-index: 20;

      .etcbox {
        position: absolute;
        top: 50px;
        right: -30px;
        padding: 30px;
        width: 522px;
        height: 300px;
        background: #fff;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        z-index: 100;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      }

      //   .etcback {
      //     content: "";
      //     clear: both;
      //     display: block;
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     right: 0;
      //     bottom: 0;
      //     width: 100%;
      //     height: 100%;
      //     background: rgba(0, 0, 0, 0.4);
      //   }
    }
  }
}
