.menuwrap {
  position: relative;
  height: 82px;
  z-index:2;

  .menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 2;

    .menu--item {
      position: relative;
      margin: 0 14px 0 0;
      width: 54px;

      &:last-child {
        margin: 0px;
      }
      a {
        width: 100%;

        .items {
          padding: 10px;
          width: 54px;
          height: 54px;
          border-radius: 20px;
          border: 1px solid #ebebeb;
          box-sizing: border-box;

          &:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          }
        }

        .txt {
          display: inline-block;
          margin: 6px auto 0;
          width: 100%;
          text-align: center;
          font-size: 1.4rem;
        }
      }

      button.btnetc {
        padding: 10px;
        width: 54px;
        height: 54px;
        border-radius: 20px;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        display:flex;
        justify-content: center;
        align-items: center;
        background: url("@/assets/images/common/more.png") no-repeat center center;
        background-size:auto 25px;

        &:hover {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          background: url("@/assets/images/common/more.png") no-repeat center center #fafbfd;
          background-size:auto 25px;
        }

        &.active {
          background: url("@/assets/images/common/close.svg") no-repeat center
            center;
          background-size: 18px;
        }

        &.active:hover {
          background: url("@/assets/images/common/close.svg") no-repeat center
            center #fafbfd;
          background-size: 18px;
        }
      }
    }
  }

  .etcwrap {
    position:relative;
    z-index: 1;

    .etcbox {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 522px;
      height: 330px;
      background: #fff;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      z-index: 3;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      overflow:hidden;

      .etcboxwrap {
        position:relative;
        width:100%;
        height:100%;
        

        .allmenubox {
          position:absolute;
          right:0;
          bottom:0;
          left:0;
          padding:30px;
          border-top:1px solid #ebebeb;
          background:#fafbfd;

          .tit {
            position:relative;
            display:inline-block;
            font-weight:700;
            margin:0 auto 15px;

            &::after {
              content:'>';
              position:absolute;
              top:0;
              right:-15px;
              color:#aaa;
            }
          }

          .allmenulist {
            display:grid;
            grid-template-columns:repeat(3, 1fr); 
            gap:6px 25px;
          }
        }
      }
    }
    //   .etcback {
    //     content: "";
    //     clear: both;
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, 0.4);
    //   }
  }
}
